<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso Prediction</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Predicción de Ingreso</h1>
        <form id="predictionForm">
            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="Edad" required>

            <label for="trabajo">Trabajo:</label>
            <select id="trabajo" name="Trabajo" required>
                <option value="?">?</option>
                <option value="Federal-gov">Federal-gov</option>
                <option value="Local-gov">Local-gov</option>
                <option value="Never-worked">Never-worked</option>
                <option value="Private">Private</option>
                <option value="Self-emp-inc">Self-emp-inc</option>
                <option value="Self-emp-not-inc">Self-emp-not-inc</option>
                <option value="State-gov">State-gov</option>
                <option value="Without-pay">Without-pay</option>
            </select>

            <label for="peso">Peso:</label>
            <input type="number" id="peso" name="Peso" required>

            <label for="educacion">Educación:</label>
            <select id="educacion" name="Educacion" required>
                <option value="10th">10th</option>
                <option value="11th">11th</option>
                <option value="12th">12th</option>
                <option value="1st-4th">1st-4th</option>
                <option value="5th-6th">5th-6th</option>
                <option value="7th-8th">7th-8th</option>
                <option value="9th">9th</option>
                <option value="Assoc-acdm">Assoc-acdm</option>
                <option value="Assoc-voc">Assoc-voc</option>
                <option value="Bachelors">Bachelors</option>
                <option value="Doctorate">Doctorate</option>
                <option value="HS-grad">HS-grad</option>
                <option value="Masters">Masters</option>
                <option value="Preschool">Preschool</option>
                <option value="Prof-school">Prof-school</option>
                <option value="Some-college">Some-college</option>
            </select>

            <label for="edunum">EduNum:</label>
            <input type="number" id="edunum" name="EduNum" required>

            <label for="estadocivil">Estado Civil:</label>
            <select id="estadocivil" name="EstadoCivil" required>
                <option value="Divorced">Divorced</option>
                <option value="Married-AF-spouse">Married-AF-spouse</option>
                <option value="Married-civ-spouse">Married-civ-spouse</option>
                <option value="Married-spouse-absent">Married-spouse-absent</option>
                <option value="Never-married">Never-married</option>
                <option value="Separated">Separated</option>
                <option value="Widowed">Widowed</option>
            </select>

            <label for="ocupacion">Ocupación:</label>
            <select id="ocupacion" name="Ocupacion" required>
                <option value="?">?</option>
                <option value="Adm-clerical">Adm-clerical</option>
                <option value="Armed-Forces">Armed-Forces</option>
                <option value="Craft-repair">Craft-repair</option>
                <option value="Exec-managerial">Exec-managerial</option>
                <option value="Farming-fishing">Farming-fishing</option>
                <option value="Handlers-cleaners">Handlers-cleaners</option>
                <option value="Machine-op-inspct">Machine-op-inspct</option>
                <option value="Other-service">Other-service</option>
                <option value="Priv-house-serv">Priv-house-serv</option>
                <option value="Prof-specialty">Prof-specialty</option>
                <option value="Protective-serv">Protective-serv</option>
                <option value="Sales">Sales</option>
                <option value="Tech-support">Tech-support</option>
                <option value="Transport-moving">Transport-moving</option>
            </select>

            <label for="relacion">Relación:</label>
            <select id="relacion" name="Relacion" required>
                <option value="Husband">Husband</option>
                <option value="Not-in-family">Not-in-family</option>
                <option value="Other-relative">Other-relative</option>
                <option value="Own-child">Own-child</option>
                <option value="Unmarried">Unmarried</option>
                <option value="Wife">Wife</option>
            </select>

            <label for="raza">Raza:</label>
            <select id="raza" name="Raza" required>
                <option value="Amer-Indian-Eskimo">Amer-Indian-Eskimo</option>
                <option value="Asian-Pac-Islander">Asian-Pac-Islander</option>
                <option value="Black">Black</option>
                <option value="Other">Other</option>
                <option value="White">White</option>
            </select>

            <label for="sexo">Sexo:</label>
            <select id="sexo" name="Sexo" required>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>

            <label for="gananciacapital">Ganancia Capital:</label>
            <input type="number" id="gananciacapital" name="GananciaCapital" required>

            <label for="perdidacapital">Pérdida Capital:</label>
            <input type="number" id="perdidacapital" name="PerdidaCapital" required>

            <label for="horassemana">Horas por Semana:</label>
            <input type="number" id="horassemana" name="HorasSemana" required>

            <label for="paisorigen">País de Origen:</label>
            <select id="paisorigen" name="PaisOrigen" required>
                <option value="?">?</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="Columbia">Columbia</option>
                <option value="Cuba">Cuba</option>
                <option value="Dominican-Republic">Dominican-Republic</option>
                <option value="Ecuador">Ecuador</option>
                <option value="El-Salvador">El-Salvador</option>
                <option value="England">England</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
                <option value="Greece">Greece</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Haiti">Haiti</option>
                <option value="Holand-Netherlands">Holand-Netherlands</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong">Hong</option>
                <option value="Hungary">Hungary</option>
                <option value="India">India</option>
                <option value="Iran">Iran</option>
                <option value="Ireland">Ireland</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Laos">Laos</option>
                <option value="Mexico">Mexico</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Outlying-US(Guam-USVI-etc)">Outlying-US(Guam-USVI-etc)</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto-Rico">Puerto-Rico</option>
                <option value="Scotland">Scotland</option>
                <option value="South">South</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Thailand">Thailand</option>
                <option value="Trinadad&Tobago">Trinadad&Tobago</option>
                <option value="United-States">United-States</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Yugoslavia">Yugoslavia</option>
            </select>

            <button type="submit">Predecir</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
